* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

.flare-fonts {
  font-optical-sizing: auto;
  font-family: "Inter", sans-serif;
  
}

/* styles started */

.hamburg{
  display: none;
}

.flex {
  display: flex;
}

.all-baton {
  list-style: none;
  justify-content: center;
  gap: 8px;
}

.bn {
  color: white;
  font-weight: 600px;
  font-size: 16px;
  padding: 10px 16px;
  border: none;
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  margin-right: 8px;
  border-radius: 10000px;
}

.bn-two {
  border: 1px solid #00ff88;
  color: #00ff88;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600px;
  background: transparent;
  border-radius: 10000px;
}    
/* header-styles */
/* background: url(./img/hero-bg.png);
    background-repeat: no-repeat; */
header {
  background-color: #1a0b2e;
  padding-top: 16px;
  
  /* background-position: center; */
}

hr {
  border: none;
  height: 1px;
  background-color: #757575;
}

.hero-img {
  list-style: none;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 40px;
  
}

@keyframes upDown {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px); 
  }
  
}

/* navbar-styles */

.header-part {
  border-bottom: 1px solid #412567;
  padding-bottom: 16px;
}

.navbar {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.nav-menu {
  margin-right: 32px;
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: white;
  line-height: 120%;
  
}

/* banner-section */

.batch-shape {
  position: absolute;
  top: 0;
  right: -21px;
}

.mic-batch {
  position: relative;
}

.banner-section {
  max-width: 550px;
  justify-content: center;
  background-position: center center;
  width: 100%;
  margin: 0 auto;
  background: url(./img/hero-bg.png);
  text-align: center;
  padding-top: 101px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mic {
  margin-top: 80px;
  margin-left: -235px;
  animation: upDown 1.8s ease-in-out infinite;
}

.banner-img {
  margin: 0 auto 40px auto;
}

.banner-container {
  background: url(./img/hero-bg.png) center no-repeat;
  padding: 101px 625px 150px 625px;
 background-size: cover;
}
.banner-tech {
  text-align: center;
  font-size: 3.75rem;
  color: white;
/* margin-bottom: 8px; */
}

.banner-baton {
  padding-bottom: 101px;
}

.banner-para {
  color: white;
  padding-bottom: 24px;
  text-align: center;
  font-size: 0.9375rem;
}

/* main-part */


.main-section {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.color {
  background-color: #1a0b2e;
}

/* info-section  */

  .info-section h3 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  margin-bottom: 16px;
}

/* padding-top: 50px; */

.p-a {
  line-height: 20px;
  font-size: 0.9375rem;
  color: white;
  
}
.p-c {
  font-size: 0.9375rem;
  margin-bottom: 20px;
  color: white;
  line-height: 20px;
 
}
.p-d {
  line-height: 20px;
  color: white;
  font-size: 0.9375rem;
  margin-bottom: 50px;
}
/* numb-part */
.numb-part {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  justify-content: space-between;
}

.card-header {
  font-weight: 900px;
  color: #00ff88;
  font-size: 3rem;
}

.info {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

/* grid-sector */

#choose {
  background-color: #230e3d;
  /* max-width: 1200px; */
}
.headphone-img {
  justify-items: start;
  display: flex;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}
.banner-baton {
  padding-bottom: 101px;
}

.banner-para {
  color: white;
  padding-bottom: 24px;
  text-align: center;
  font-size: 0.9375rem;
}

/* main-part */


.main-section {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.color {
  background-color: #1a0b2e;
}

/* info-section  */

  .info-section h3 {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  margin-bottom: 16px;
}

/* padding-top: 50px; */

.p-a {
  line-height: 20px;
  font-size: 0.9375rem;
  color: white;
  
}
.p-c {
  font-size: 0.9375rem;
  margin-bottom: 20px;
  color: white;
  line-height: 20px;
 
}
.p-d {
  line-height: 20px;
  color: white;
  font-size: 0.9375rem;
  margin-bottom: 50px;
}
/* numb-part */
.numb-part {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 120px;
  text-align: center;
  justify-content: space-between;
}

.card-header {
  font-weight: 900px;
  color: #00ff88;
  font-size: 3rem;
}

.info {
  color: white;
  font-size: 16px;
  line-height: 20px;
}

/* grid-sector */

#choose {
  background-color: #230e3d;
  /* max-width: 1200px; */
}
.headphone-img {
  justify-items: start;
  display: flex;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}
.eco-img {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}
.rich-resource {
  display: flex;
  justify-items: start;
  margin-bottom: 16px;
  /* justify-content: start; */
  /* margin: 107px 285px 16px 40px; */
  /* align-items: start; */
}

.grid-header {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 120px;
  color: white;
}

.grid-sector {
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  text-align: center;
}

.contain {
  display: grid;
  gap: 30px;
  max-width: 1200px;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 120px;
  /* margin-bottom: 120px; */
}

.semi-layout {
  grid-column: span 1;
  align-items: center;
  border-radius: 20px;
  background-color: #351165;
  grid-row: span 2;
  overflow: hidden;
  display: flex;
  padding: 40px 40px;
  
}
.layout-a {
  grid-column: span 2;
  border-radius: 20px;
  grid-row: span 1;
  background-color: #351165;
  padding: 40px 40px;
  
}
.layout-b {
  grid-column: span 1;
  background-color: #351165;
  grid-row: span 1;
  border-radius: 20px;
  padding: 40px 40px;
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}

.grid-bold {
  font-size: 24px;
  text-align: start;
  font-weight: bold;
  color: white;
  margin-bottom: 16px;
  
}

.grid-para {
  text-align: start;
  font-size: 15px;
  line-height: 24px;
  color: white;
  font-weight: 300px;
  
  /* font-weight: bold; */
}

.iframe {
  border-radius: 15px 15px 0px 0px;
}

/* episode-section */

#episode-section {
  justify-content: center;
  width: 1200px;
  padding-bottom: 120px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}

.episode {
  padding-bottom: 40px;
  margin: 0 auto;
  justify-content: center;
  width: 1200px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 48px;
  padding-top: 120px;
  
}

.episode-point {
  border-radius: 15px;
  background-color: #250d44;
}
.episode-title {
    font-weight: bold;
    font-size: 24px;
    padding: 24px 24px 12px 24px;
    line-height: 36px;
    color: white;
}
.episode-info {
  font-weight: 400;
  padding: 0px 24px 12px 24px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.clock-logo {
  align-items: center;
  gap: 6px;
  display: flex;
  padding: 12px 24px 24px 24px;
}

.size {
 height: 20px;
  width: 20px;
  /* padding: 12px 24px 24px 24px; */
}
.video-time {
  font-weight: 600px;
  font-size: 16px;
  line-height: 24px;
  color: #00ff88;
}

.alex {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  padding-bottom: 40px;
  font-weight: bold;
}
#container-two {
  margin: 0 auto;
  width: 1200px;
  background-color: #250d44;
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  border-radius: 40px;
}




